<div class="panel-container">
  <div class="header-bar">
    <h1>Bienvenido al Sistema de Gestión de Arcefly</h1>
  </div>

  <div class="sidebar">
    <img src="assets/images/LogoAerolinea.PNG" alt="Logo Aerolínea" class="logo" />

    <div class="operations-title">OPERACIONES</div>

    <button class="button" (click)="mostrarInicio()">
      <i class="fas fa-home"></i> INICIO
    </button>
    <button class="button" (click)="mostrarViajes()">
      <i class="fas fa-plane"></i> VIAJES
    </button>
    <button class="button" (click)="mostrarClientes()">
      <i class="fas fa-users"></i> CLIENTES
    </button>
    <button class="button" (click)="mostrarReservas()">
      <i class="fas fa-ticket-alt"></i> RESERVAS
    </button>
    <button class="button" (click)="generarReporte()">
      <i class="fas fa-file-alt"></i> GENERAR REPORTE
    </button>
    <button class="button" (click)="cerrarSesion()">
      <i class="fas fa-sign-out-alt"></i> CERRAR SESIÓN
    </button>
  </div>

  <div class="content">
       <router-outlet></router-outlet>
    </div>
  </div>