<div class="panel-container">
  <!-- Barra superior -->
  <div class="header-bar">
    <h1>Bienvenido al Sistema de Gestión de Arcefly</h1>
  </div>

  <!-- Barra de navegación lateral -->
  <div class="sidebar">
    <img src="assets/images/LogoAerolinea.PNG" alt="Logo Aerolínea" class="logo" />

    <div class="operations-title">OPERACIONES</div>

    <a class="button" routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fas fa-home"></i> INICIO
    </a>
    <a class="button" routerLink="viajes" routerLinkActive="active">
      <i class="fas fa-plane"></i> VIAJES
    </a>
    <a class="button" routerLink="clientes" routerLinkActive="active">
      <i class="fas fa-users"></i> CLIENTES
    </a>
    <a class="button" routerLink="reservas" routerLinkActive="active">
      <i class="fas fa-ticket-alt"></i> RESERVAS
    </a>
    <a class="button" routerLink="reporte" routerLinkActive="active">
      <i class="fas fa-file-alt"></i> GENERAR REPORTE
    </a>
    <button class="button" (click)="cerrarSesion()">
      <i class="fas fa-sign-out-alt"></i> CERRAR SESIÓN
    </button>
  </div>

  <!-- Contenido principal -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
